[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
irc = "*"
"jaraco.logging" = "*"
boto3 = "*"
queuelib = "*"
requests-aws4auth = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[packages.gql]
extras = [ "botocore", "aiohttp",]
